@using PizzaWebAppAuthentication.Models.ViewModels.PizzaViewModels
@using PizzaWebAppAuthentication.Models.AppModels
@model PizzaViewModel
@{
    ViewData["Title"] = "Create Custom Pizza";
}

<div class="container">
    <div class="info">
        @using (Html.BeginForm("CreateCustomPizza", "Pizzas", FormMethod.Post))
        {
            <div style="margin-bottom: 20px;">
                <h3>Тип теста:</h3>
                @foreach (var pizzaBase in (List<PizzaBase>)ViewData["Bases"])
                {
                    <div style="display: inline-block; margin-right: 20px;">
                        <label>
                            @Html.RadioButtonFor(model => model.Base, pizzaBase.Name)
                            @pizzaBase.Name.ToLower()
                        </label>                        
                    </div>
                }
                <span asp-validation-for="Base" class="text-danger"></span>
            </div>

            <div style="margin-bottom: 20px;">
                <h3>Размер пиццы:</h3>
                @foreach (var size in (List<Size>)ViewData["Sizes"])
                {
                    <div style="display: inline-block; margin-right: 20px;">
                        <label>
                            @Html.RadioButtonFor(model => model.Size, size.Diameter)
                            @(size.Name.ToLower() + ' ' + size.Diameter + "см")
                        </label>
                        <span asp-validation-for="Size" class="text-danger"></span>
                    </div>
                }
            </div>

            <div style="margin-bottom: 20px;">
                <h3>Ингредиенты:</h3>

                @foreach (var ingredient in (List<string>)ViewData["Ingredients"])
                {
                    <p />
                    <input type="checkbox" name="Ingredients" value=@ingredient> @ingredient.ToLower()
                }
            </div>

            <button type="submit">Добавить в корзину</button>

        }
    </div>
    <div class="image">
        <img src="@Url.Content("~/images/construct.png")" alt="Product Image" />
    </div>
</div>

<style>
    .container {
        display: flex;
        flex-direction: row;
    }

    .info, .image {
        flex: 1;
        padding: 20px;
    }

    .info {
        /* стили для блока с информацией */
    }

    .image {
        background-image: url('~/images/1.png');
        background-size: cover;
        background-position: center;
        /* стили для блока с картинкой */
    }
</style>