@model PizzaWebAppAuthentication.Models.ViewModels.UserManagementViewModels.UsersListViewModel

<partial name="~/Areas/Admin/Views/Role/_Menu.cshtml" />

<div class="col md-9">
    <div class="row">

        <form method="get">
            <div class="form-inline">
                <label asp-for="Role">Роль: </label>
                <select asp-for="SelectedRole" asp-items="Model.Role" class="selectpicker"><option value="">All</option></select>
                

                <label asp-for="FirstName">Имя пользователя: </label>
                <select asp-for="SelectedFirstName" asp-items="Model.FirstName" class="selectpicker"><option value="">All</option></select>
                

                <label asp-for="Email">Email:</label>
                <select asp-for="SelectedEmail" asp-items="Model.Email" class="selectpicker"><option value="">All</option></select>
                

                <input type="submit" value="Фильтр" class="btn btn-danger" />
            </div>
        </form>
    </div>


        <h1>Пользователи</h1>
        
       <table class=" table">
          <thead>
              <tr>
                  <th> Id </th>
                  <th> Имя </th>
                  <th> Фамилия</th>
                  <th> Email </th>
                  <th> Телефон </th>
                  <th>  </th>
              </tr>
          </thead>  
          <tbody>
                @foreach (var user in Model.Users)
                {
                        <tr>
                            <td>@user.Id</td>
                            <td>@user.FirstName </td>
                            <td>@user.LastName </td>
                            <td>@user.Email </td>
                            <td>@user.PhoneNumber</td>
                            <td> <a asp-controller="User" asp-action="Details" asp-route-id ="@user.Id">Details</a> </td>
                        </tr>
                }
          </tbody>
       </table>
    </div>
</div>

